<div layout="column" class="budget-container">
  <!-- Filtro con selezioni -->
  <div layout="row" layout-align="start center" class="filters" style="margin-bottom: 16px;">
      <md-input-container class="md-block" flex="30" style="margin-right: 16px;">
          <label>Seleziona una tipologia di conto</label>
          <md-select ng-model="pivot.conto" ng-change="loadDefBudget()">
              <md-option ng-repeat="conto in conti" ng-value="conto.conto">
                  {{conto.label}}
              </md-option>
          </md-select>
      </md-input-container>

      <md-input-container class="md-block" flex="30">
          <label>Seleziona un anno</label>
          <md-select ng-model="pivot.year" ng-change="loadDefBudget()">
              <md-option ng-repeat="year in years" ng-value="year">
                  {{year}}
              </md-option>
          </md-select>
      </md-input-container>
  </div>

  <!-- Contenuto principale -->
  <div layout="row" flex style="overflow: hidden;">
      <!-- Griglia con pulsanti -->
      <div flex="40" layout="column" style="margin-right: 16px; padding: 0 8px; border-right: 1px solid #ddd;">
          <div id="gridDefBudget" 
               ui-grid="gridDefBudget" 
               ui-grid-selection 
               ui-grid-cellnav 
               ui-grid-edit 
               ui-grid-auto-resize 
               style="flex: 1; overflow: auto;">
          </div>

          <!-- Pulsanti relativi alla griglia -->
          <div layout="row" layout-align="end center" style="margin-top: 16px;">
              <md-button aria-label="{{button.label}}" 
                         layout="column" 
                         ng-repeat="button in actionButtons" 
                         class="md-fab md-mini md-primary" 
                         ng-click="button.listener(gridDefBudget, 'DB')" 
                         ng-disabled="button.disabled('DB')" 
                         style="margin-right: 8px;">
                  <md-icon md-svg-src="{{button.src}}"></md-icon>
              </md-button>
          </div>
      </div>

      <!-- Grafico -->
      <div flex="60" layout="column" style="padding: 0 8px;">
          <nvd3 options="optionsGraficoPieBudget" data="dataGraficoPieBudget"></nvd3>
      </div>
  </div>
</div> 