<div layout="column">
    <div flex="5" layout="row" layout-align="center center">
        <div flex="20" layout="column">            
            <md-select placeholder="Division" ng-model="division.value" ng-model-options="{trackBy: $value.id}" md-on-open="loadDivisions()" style="min-width: 200px;" ng-change="loadMatchAnalysis(division, season, giornata)">
                <md-option ng-value="division" ng-repeat="division in divisions">{{division.name}}</md-option>
            </md-select>
        </div>
        <div flex="10" layout="column">
            <span> - </span>
        </div>
        <div flex="20" layout="column">            
            <md-select placeholder="Season" ng-model="season.value" ng-model-options="{trackBy: $value.id}" md-on-open="loadSeasons(division)" style="min-width: 200px;" ng-change="loadMatchAnalysis(division, season, giornata)">
                <md-option ng-value="season" ng-repeat="season in seasons">{{season.name}}</md-option>
            </md-select>
        </div>
        <div flex="10" layout="column">
            <span> - </span>
        </div>
        <div flex="20" layout="column">
            <md-select placeholder="Giornata" ng-model="giornata.value" ng-model-options="{trackBy: $value.id}" md-on-open="loadGiornate(division, season)" style="min-width: 200px;" ng-change="loadMatchAnalysis(division, season, giornata)">
                <md-option ng-value="giornata" ng-repeat="giornata in giornate">{{giornata.name}}</md-option>
            </md-select>
        </div>
    </div>
    <div flex="95" layout="row">
        <div flex="50" layout="column">
            <p class="table-header"><strong>Classifica</strong></p>
            <div flex layout="row" id="grid1" ui-grid="gridOptionsClassifica"  ui-grid-pinning ui-grid-auto-resize></div>
        </div>
        <div flex="50" layout="column">
            <div flex="70" layout="row">
                <div flex="65" layout="column">
                    <p class="table-header"><strong>STAGIONE: {{season.value.name}} - GIORNATA: {{giornata.value.id}}</strong></p>
                    <div flex layout="row" id="grid2" ui-grid="gridOptionsNextGame"  ui-grid-selection  ui-grid-edit  ui-grid-pinning ui-grid-auto-resize></div>
                </div>
                <div flex="35" layout="column">
                    <p class="table-header"><strong>STORICO SCONTRO DIRETTI</strong></p>
                    <div flex layout="row" id="grid3" ui-grid="gridOptionsScontriDiretti" ui-grid-auto-resize></div>
                </div>                        
            </div>
            <div flex="30" layout="row">
                <div flex layout="column">
                    <p class="table-header"><strong>STORICO PARTITE PRECEDENTI</strong></p>
                    <div flex layout="row" id="grid4" ui-grid="gridOptionsPartitePrecedenti" ui-grid-auto-resize></div>
                </div>                
            </div>
        </div>
    </div>
</div>
