<div layout="row">
    <div flex layout="column">
        <div flex layout="row">
            <div flex layout="column" layout-align="center center">
                <md-select placeholder="Season" ng-model="user" md-on-open="loadSeasons()" style="min-width: 200px;">
                    <md-option ng-value="season" ng-repeat="season in seasons">{{season.desc}}</md-option>
                </md-select>
            </div>
            <div>
                <p class="table-header"><strong>Classifica</strong></p>
                <div flex layout="row" id="grid1" ui-grid="gridOptionsClassifica"></div>
            </div>
        </div>
    </div>
</div>
<div layout="row">
    <div flex="30" layout="column">
        <p class="table-header"><strong>Giornata {{giornPrev}} - {{dataGamePrev}}</strong></p>
        <div flex layout="row" id="grid2" ui-grid="gridOptionsPrevGame"></div>
    </div>
    <div flex="70" layout="column">
        <p class="table-header"><strong>Giornata {{giornNext}} - {{dataGameNext}}</strong></p>
        <div flex layout="row" id="grid3" ui-grid="gridOptionsNextGame"></div>
    </div>
</div>
