<div>
    <label for="yearSelect"> Seleziona un anno: </label> 
    <select name="yearSelect" id="repeatSelect" ng-options="year for year in years" ng-model="pivot.year" ng-change="loadPivotAnno(pivot.year, pivot.tipoConto)"> </select> 
    <label for="contoSelect">Seleziona una tipologia di conto:</label> 
    <select name="contoSelect" id="repeatCnSelect" ng-options="tipoConto.tipoConto as tipoConto.label for tipoConto in conti" ng-model="pivot.tipoConto" ng-change="loadPivotAnno(pivot.year, pivot.tipoConto)"> </select> </div>
<div id="grid3" ui-grid="gridOptionPivotAnno" class="myGrid" ui-grid-tree-view ui-grid-auto-resize></div>
