<div>
  <label for="contoSelect">Seleziona una tipologia di conto:</label>
  <select name="contoSelect" id="repeatCnSelect" ng-options="tipoConto.tipo_conto as tipoConto.label for tipoConto in conti" ng-model="pivot.tipo_conto" ng-change="loadReportMese()">
</select>
   <label for="yearSelect"> Seleziona un anno: </label>
  <select name="yearSelect" id="repeatYSelect" ng-options="year for year in years" ng-model="pivot.year" ng-change="loadReportMese()">  
</select>
       <label for="meseSelect"> Seleziona un mese: </label>
  <select name="meseSelect" id="repeatMSelect" ng-options="month for month in months" ng-model="pivot.month" ng-change="loadReportMese()">  
</select>
</div>
<div id="gridReportMese" ui-grid="gridReportMese" class="myGrid" ui-grid-auto-resize ></div>