<div layout="column" class="grid-container">
    <div layout="row" layout-align="start center" class="filters">
        <md-input-container class="md-block" flex="30">
            <label>Seleziona una tipologia di conto</label>
            <md-select ng-model="pivot.conto" ng-change="loadSpeseAnnue()">
                <md-option ng-repeat="conto in conti" value="{{conto.conto}}">
                    {{conto.label}}
                </md-option>
            </md-select>
        </md-input-container>        
    </div>
    <div flex layout="column" layout-padding>
        <div flex layout="row">
    <div id="gridSpeseAnnuali" ui-grid="gridSpeseAnnuali" ui-grid-auto-resize flex></div>
        </div></div>
</div>