<div layout="column">
  <div flex layout="row">
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridAmb" ui-grid="gridOptionsReparto" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsReparto, 'reparto', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Reparto</div>
      </div>
    </section>
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridCat" ui-grid="gridOptionsSottoreparto" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsSottoreparto, 'sottoreparto', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Sottoreparto</div>
      </div>
    </section>
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridSott" ui-grid="gridOptionsFamiglia" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsFamiglia, 'famiglia', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Famiglia</div>
      </div>
    </section>    
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridSup" ui-grid="gridOptionsSupermercato" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsSupermercato, 'super', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Famiglia</div>
      </div>
    </section>  
  </div>
  <div flex layout="row">
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridreprsott" ui-grid="gridOptionsReprSott" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsReprSott, 'reprsott', false)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Reparto-Sottoreparto</div>
      </div>
    </section> 
      <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridsotfamg" ui-grid="gridOptionsSottFamg" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsSottFamg, 'sottfamg', false)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Sottoreparto-Famiglia</div>
      </div>
    </section> 
  </div>
</div>
