<div layout="column">
  <div flex layout="row">
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridAmb" ui-grid="gridOptionsAmb" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsAmb, 'ambito', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Ambito</div>
      </div>
    </section>
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridCat" ui-grid="gridOptionsCat" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsCat, 'categoria', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Categoria</div>
      </div>
    </section>
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridSott" ui-grid="gridOptionsSott" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsSott, 'sottocategoria', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Sottocategoria</div>
      </div>
    </section>
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridBen" ui-grid="gridOptionsBen" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsBen, 'beneficiario', true)" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Beneficiario</div>
      </div>
    </section>
  </div>
  <div flex layout="row">
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridAmbCat" ui-grid="gridOptionsAmbCat" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsAmbCat, 'ambcat')" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Ambito-Categoria</div>
      </div>
    </section>
    <section flex layout="column" layout-padding>
      <div flex layout="row">
        <div flex id="gridCatSott" ui-grid="gridOptionsCatSott" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
      </div>
      <div flex layout="row" layout-align="start end">
        <md-button layout="column" ng-repeat="button in settingButtons" class="md-fab md-mini-mini md-primary aria-label" style="margin-left: 0px; min-height: 24px !important;" ng-click="button.listener(gridOptionsCatSott, 'catsott')" ng-disabled="button.disabled()">{{button.label}}</md-button>
        <div flex layout="column" layout-align="end center" class="label-settings">Categoria-Sottocategoria</div>
      </div>
    </section>
  </div>
</div>
