<div layout="column" class="listaMovimenti">
  <div flex layout="row" id="grid1" ui-grid="gridOptionsSalary" ui-grid-cellnav ui-grid-edit  ui-grid-pinning  ui-grid-auto-resize></div>
  <div flex layout="row" layout-align="start end">
    <md-button aria-label="{{button.label}}"
               layout="column" 
               ng-repeat="button in actionButtons"         
               class="md-icon-button"  
               ng-click="button.listener(gridOptionsPassword, 'SA')" 
               ng-disabled="button.disabled('SA')">
      <i class="{{button.src}}"></i>
      <md-tooltip>{{button.tooltip}}</md-tooltip>
    </md-button>
  </div>
</div>