<div class="modal-header title">
  {{title}}
</div>
<div class="modal-body">
  <p ng-bind-html="text | to_trusted"></p>
</div>
<div class="text-center">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button class="btn" 
              id="modal-btn"
              ng-class="{
                        'btn-default': !style, 
                        'btn-warning': style==='warning', 
                        'btn-danger': style==='error'
                        }" 
              ng-click="$close()">
        {{button}}
      </button>
    </div>
  </div>
</div>