<div class="modal-header popup-modal">
  {{title}}
</div>
<div class="modal-body popup-modal">
  <p>{{text}}</p>
</div>
<div class="modal-footer text-center popup-modal">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button class="btn" ng-class="{
                        'btn-default': !style, 
                        'btn-warning': style==='warning', 
                        'btn-danger': style==='error'
                        }"  ng-click="$close()" id="yes-modal-btn">{{yes}}</button>
    </div>
    <div class="btn-group">
      <button class="btn" ng-class="{
                        'btn-default': !style, 
                        'btn-warning': style==='warning', 
                        'btn-danger': style==='error'
                        }"  ng-click="$dismiss()" id="no-modal-btn">{{no}}</button>
    </div>
  </div>
</div>