 <div
  ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
  ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
  class="ui-grid-cell"
  ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader, 
              'deleted': row.entity.deleted, 
              'newRow': row.entity.newRow, 
              'massiveRow': row.entity.massiveRow,
              'checkRow': row.entity.check,
              'dirtyRow': row.entity.dirty && !row.entity.newRow
            }"
  role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
  ui-grid-cell>
</div>